@page
@model IEnumerable<GneoCommonDataLibrary.Models.Student>
@{
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2" style="padding-top:40px;">
                <h1 class="text-center accent-gray">Students Details</h1>
                <table class="table table-dark table-hover">
                    <tr class="text-center">
                        <th>Teacher ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Full Name</th>
                        <th>Courses</th>
                    </tr>
                   
                </table>
            </div>
        </div>
    </div>
        }
