@model IEnumerable<GneoCommonDataLibrary.Models.Teacher>

@{
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2" style="padding-top:50px;">
                <h1 class="text-center accent-gray">Teachers Details</h1>
                <p>
                    <a asp-action="AddEditTeacher" class="btn btn-success"><i class="fas fa-random"></i>Add New Teacher</a>

                </p>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                
                                <td>
                                    <a asp-action="AddEditStudent" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}





