@model IEnumerable<GneoInstituteManagerWebApp.ViewModels.StudentViewModel>

@{
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2" style="padding-top:50px;">
                <h1 class="text-center accent-gray">Students Details</h1>
                <p>

                    <a asp-action="AddEditStudent" class="btn btn-success"><i class="fas fa-random"></i> Add New Student</a>
                </p>
                <table class="table table-dark table-hover" style="padding-top:20px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseID)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseID)
                                </td>
                                <td>
                                    <a asp-action="AddEditStudent" class="btn btn-default">Edit</a>
                                    <a asp-action="DeleteStudent" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
